<section class="tarifs-fixes" id="tarifs">
  <div class="container">
    <h2>Nos Tarifs Fixes</h2>
    <div class="tarifs-cards">
      {% for tarif in tarifs %}
        <div class="tarif-card{% if tarif.populaire %} populaire{% endif %}">
          <img src="{{ asset(tarif.image) }} ">
          {% if tarif.populaire %}
            <span class="tarif-badge">POPULAIRE</span>
          {% endif %}
          <h2 class="tarif-titre">{{ tarif.titre }}</h2>
          <div class="tarif-prix">{{ tarif.prix }}</div>
          <ul>
            {% for avantage in tarif.avantages %}
              <li>{{ avantage }}</li>
            {% endfor %}
          </ul>
          <a href="{{ path('reserver', {'type': tarif.slug}) }}" class="btn btn-tertiary">Réserver {{ tarif.cta }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
